:root {
    --primary: #2563eb;
    --primary-dark: #1d4ed8;
    --primary-light: #bcd8f3;

    --background: #fff;
    --surface: #fff;

    --text: #1c2129;
    --text-light: #38393a;
    --border: #e5e7eb;

    --radius: 12px;
    --shadow: 0 8px 24px rgba(37,99,235,.12);
    --transition: all .3s ease;
}

.logo{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    line-height:1.1;
   
}
.logo h2{
    margin:0;
    color:var(--primary);
   

    font-family: 'Pacifico', cursive;
    font-size: 3rem; 
    
    
    
}
.logo h3{
    margin:2px 0 0 2px;
    font-size:14px;
    font-weight:300;
    color:var(--text-light);
}

.home{
    background:var(--background);
    color:var(--text);
    min-height:100vh;
}



.navbar{
    width:90%;
    max-width:1200px;
    margin:auto;
    margin-top: 10px;
    height:80px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo h2{
    color:var(--primary);
    font-size:50px;
    margin-top: 50px;
   
    
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: var(--text);
    font-size: 20px;       /* Increased from 16px */
    font-weight: 600;
    transition: var(--transition);
}

.nav-links a:hover {
    color: var(--primary);
}

.login-btn,
.register-btn {
    width: 145px;          /* Increased from 120px */
    padding: 14px 20px;    /* Increased padding */
    border-radius: var(--radius);
    font-size: 18px;       /* Increased from 15px */
    font-weight: 600;
    cursor: pointer;
    transition: var(--transition);
}




.login-btn{
    background:transparent;
    border:2px solid var(--primary);
    color:var(--primary);
}

.login-btn:hover{
    background:var(--primary-light);
}

.register-btn{
    background:var(--primary);
    color:white;
    border:none;
}

.register-btn:hover{
    background:var(--primary-dark);
    
}


.banner {
    background:
        linear-gradient(rgba(139, 192, 235, 0.35), rgba(117, 174, 238, 0.35)),
        url("./blue.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
    padding: 70px 20px;
}

.hero{
    width:90%;
    max-width:1200px;
    margin:70px auto;
    text-align:center;
}

.hero-content h1{
    font-size:58px;
    color:var(--text);
    line-height:1.2;
}

.hero-content p{
    max-width:700px;
    margin:25px auto;
    color:var(--text-light);
    font-size:19nopx;
    line-height:1.8;
}
.hero-content p { font-size:19px; }

.hero-buttons{
    display:flex;
    justify-content:center;
    gap:20px;
    margin-top:35px;
}

.primary-btn,
.secondary-btn{
    width:170px;
    padding:15px;
    border-radius:var(--radius);
    font-size:16px;
    cursor:pointer;
    transition:var(--transition);
}

.primary-btn{
    background:var(--primary);
    color:white;
    border:none;
}

.primary-btn:hover{
    background:var(--primary-dark);
}

.secondary-btn{
    background:white;
    color:var(--primary);
    border:2px solid var(--primary);
}

.secondary-btn:hover{
    background:var(--primary-light);
}



.planner-section{
    width:90%;
    max-width:1200px;
    margin:80px auto;
    background:var(--surface);
    border-radius:var(--radius);
    box-shadow:var(--shadow);
    padding:40px;
    text-align:center;
}

.planner-section h2{
    color:var(--primary);
    margin-bottom:10px;
}

.planner-section p{
    color:var(--text-light);
    margin-bottom:30px;
}

.planner-box{
    display:grid;
    grid-template-columns:repeat(5,1fr);
    gap:15px;
}

.planner-box input{
    padding:14px;
    border:1px solid var(--border);
    border-radius:var(--radius);
    font-size:18px;
}

.planner-box button{
    background:var(--primary);
    color:white;
    border:none;
    border-radius:var(--radius);
    font-size:18px;
    cursor:pointer;
    transition:var(--transition);
}

.planner-box button:hover{
    background:var(--primary-dark);
}



.destination-section{
    width:90%;
    max-width:1200px;
    margin:80px auto;
}

.destination-section h1{
    text-align:center;
    color:var(--primary);
    margin-bottom:40px;
}

.destination-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:25px;
}

.destination-card{
    background:var(--surface);
    border-radius:var(--radius);
    box-shadow:var(--shadow);
    overflow:hidden;
    transition:var(--transition);
}

.destination-card:hover{
    transform:translateY(-8px);
}

.destination-card img{
    width:100%;
    height:220px;
    object-fit:cover;
}

.destination-card h3{
    margin:30px 30px 10px;
}

.destination-card p{
    margin:0 20px;
    color:var(--text-light);
    line-height:1.8;
}

.destination-card span{
    display:block;
    margin:20px 20px 5px;
    color:var(--text-light);
    font-size:14px;
}

.destination-card h4{
    margin:0 20px 25px;
    color:var(--primary);
}



.footer{
    margin-top:80px;
    padding:25px;
    background:var(--primary);
    color:white;
    text-align:center;
}

 

@media(max-width:992px){

    .planner-box{
        grid-template-columns:repeat(2,1fr);
    }

}

@media(max-width:768px){

    .navbar{
        flex-direction:column;
        height:auto;
        padding:20px 0;
        gap:20px;
    }

    .nav-links{
        flex-wrap:wrap;
        justify-content:center;
    }

    .hero-content h1{
        font-size:40px;
    }

    .hero-buttons{
        flex-direction:column;
        align-items:center;
    }

    .planner-box{
        grid-template-columns:1fr;
    }

    .primary-btn,
    .secondary-btn,
    .login-btn,
    .register-btn{
        width:100%;
        max-width:220px;
    }

}

.statistics {
  background: #fffaf8;
  padding: 90px 0;
}

.statistics-heading {
  text-align: center;
  margin-bottom: 60px;
}

.statistics-heading h3 {
  font-size: 2.8rem;
  color: var(--primary);
  margin-bottom: 15px;
  font-family: "Cormorant Garamond", serif;
}

.statistics-heading p {
  max-width: 650px;
  margin: auto;
  color: #666;
  line-height: 1.8;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.stat-card {
  background: white;
  padding: 40px 20px;
  border-radius: 18px;
  text-align: center;
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.05);
  transition: 0.35s;
}

.stat-card:hover {
  transform: translateY(-10px);
}

.stat-card h3 {
  font-size: 3rem;
  color: var(--primary);
  margin-bottom: 10px;
  font-family: "Cormorant Garamond", serif;
}

.stat-card span {
  color: #666;
  font-weight: 500;
}

/* Footer */

.footer {
    background: linear-gradient( #1d4ed8);
    color: #fff;
    padding: 50px 10% 20px;
    margin-top: 60px;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 40px;
}




.footer-logo {
    font-size: 32px;
    color: #fff;
    margin-bottom: 15px;
}

.footer-section h2,
.footer-section h3 {
    font-size: 30px;
    margin-bottom: 20px;
}

.footer-section p {
    font-size: 18px;
    line-height: 2;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 12px;
}

.footer-section ul li a {
    text-decoration: none;
    color: #d1d5db;
    transition: 0.3s;
}

.footer-section ul li a:hover {
    color: #60a5fa;
    padding-left: 6px;
}

.social-icons {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.social-icons a {
    width: 42px;
    height: 42px;
    background: rgba(255,255,255,0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    transition: 0.3s;
}

.social-icons a:hover {
    background: #3b82f6;
    transform: translateY(-5px);
}

.footer hr {
    border: none;
    height: 1px;
    background: rgba(255,255,255,0.2);
    margin: 35px 0 20px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #cbd5e1;
    font-size: 14px;
}

